.col-md-4{
    display: flex;
    justify-content: center;

}
footer{
    padding: 10px;
    margin: auto;
    background-color: rgb(33, 34, 36);
    color:white;
    
}
.ft{
    padding-top: 20px;
}
/*footer1*/

.imgfooter{
    width: 198px;
    height: 49px;
}
.enteremail{
    width:auto ;
    text-align: center;
}
.subcribe{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.dieuluat{
    color: gray;
}

.dieuluat a {
    
    color:grey;
}
.buttonsubmit{
    border: 1px solid red;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: red;
    color: white;
}
.buttonsubmit:hover{
    background-color: rgb(201, 0, 0);
    border-color: red;
}
::placeholder{
    color: gray;
}
.ft13{
    padding-bottom: 10px;
}
/*footer2*/
.ft h5{
    color: #FAA31B;
}
.about p {
    line-height: 35px;
}
ul li {
    list-style: none;
    margin-top: 10px;
}

.selectnav{
    padding-left: 0rem;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
ul li a i{
    padding-right: 5px;
}
.insta:hover{
    color: rgb(156, 20, 20);
}
.twitter:hover{
    color: rgb(53, 53, 189);
}
.imgapp{
    width: 120px;
    height: 35px;
}

.col-6{
    width: 50%;
}
/*HOT topics Footer*/
.hot-topics{
    margin-top: 15px;
}
.hot-topics ul{
    padding-left: 0px;
}
.hot-topics ul li {
    display: inline-block;
    padding: 5px 10px;

}
.hot-topics ul li a:hover{
    text-decoration: underline;
    color: black;

}
/*Final footer*/ 

.final-ft{
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
}
