@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


:root {

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Rubik, sans-serif;
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #595d69;
  --bs-body-bg: #fff;
}



.btn-link {
    padding-bottom: 0px;
    background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 6%;
    background-repeat: no-repeat;
    background-position: left 100%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-weight: inherit;
    padding: 0;
    font-weight: 500;
    color: #526151;
    text-decoration: none;
}

.btn-link:hover {
    background-size: 100% 6%;
    color: #526151;
}


/*back ground banner top alert*/

.fill-success {
    fill: #0cbc87 !important;
}

.fill-warning {
    fill: #f7c32e !important;
}


/* nav top */


.nav-link {
    display: block;
    padding: 0rem 0.75rem;
    color: #595d69;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover,.nav-link:focus {  
    color: #1a4fba;
}


.divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}


/* main nav */

#navbar_main .nav-link{
    color: #3e6afa;
    text-transform: uppercase; /* chuyen thanh chu hoa */
    font-weight: 700;
}
#navbar_main .nav-link:hover {
    color: #f357cc;   
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{  }
	.navbar .nav-item:hover .dropdown-menu{ display: block;  }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
   
}	
.dropdown-toggle::after {
    display:none;
}



/*trending css*/
.bg-trending {
    background-color: rgba(33, 99, 232, 0.1) !important;
}



/* avatar author */
.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
}
.avatar-sm {
    height: 2.5rem;
    width: 2.5rem;
}
.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar-xs {
    height: 2.1875rem;
    width: 2.1875rem;
}


/*card */
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    pointer-events: none;
  
  }
  .badge:empty {
    display: none;
  }
  
.card-featured {
    position: absolute;
    z-index: 99;
    background: #2163e8;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    top: -8px;
    right: -48px;
    width: 120px;
    padding: 16px 0 3px 0;
}
.card-grid .card-grid-lg {
    height: 560px;
  }
  .card-grid .card-grid-sm {
    height: calc(280px - calc(var(--bs-gutter-y) / 2));
  }
  
  @media (max-width: 767.98px) {
    .card-grid .card-grid-lg {
      height: 400px;
    }
}

.card {
    border: 0;
    border-radius: 0.7rem;
}
/*______________________*/
.card.card-overlay-bottom {
    overflow: hidden;
}

.card.card-overlay-bottom:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 1;
}
/*______________________*/
.card-bg-scale {
    z-index: 99;
}

.card-bg-scale::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: -2;
}

.card-bg-scale:hover::after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s;
    transition: all 1s;
}
/*______________________*/






.nav.nav-divider .nav-item {
    display: inline-block;
    vertical-align: middle;
}






.card .card-img-overlay {
    z-index: 2;
}




.bg-dark-overlay-4 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-4:before {
    content: " ";
    background: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



/* social button */
.bg-facebook {
    background-color: #5d82d1;
    color: #fff;
    text-decoration: none;

}

.bg-facebook:hover {
    background-color: #5475bc;
    color: #fff;
}

.bg-instagram-gradient {
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    background-size: 120% 120%;
    background-position: right bottom;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
    text-decoration: none;
}

.bg-instagram-gradient:hover {
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position: left bottom;
}

.bg-youtube {
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
}

.bg-youtube:hover {
    background-color: #e60000;
    color: #fff;
}


/* mini img post  */

img {
    max-width: 100%;
    height: auto;
}
/* button */
.btn-primary-soft {
    color: #2163e8;
    background-color: rgba(33, 99, 232, 0.1);
}

.btn-primary-soft:hover {
    color: #fff;
    background-color: #2163e8;
}


footer .col-md-4{
    display: flex;
    justify-content: center;

}
footer{
    padding: 10px;
    margin: auto;
    background-color: rgb(33, 34, 36);
    color:white;
    
}
.ft{
    padding-top: 20px;
}
/*footer1*/

.imgfooter{
    height: 100px;
}
.enteremail{
    width:auto ;
    text-align: center;
}
.subcribe{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.dieuluat{
    color: gray;
}

.dieuluat a {
    
    color:grey;
}
.buttonsubmit{
    border: 1px solid red;
    border-radius: 5px;
    padding: 7px 20px;
    background-color: red;
    color: white;
}
.buttonsubmit:hover{
    background-color: rgb(201, 0, 0);
    border-color: red;
}
::placeholder{
    color: gray;
}
.ft13{
    padding-bottom: 10px;
}
/*footer2*/
footer h5{
    color: #FAA31B;
}
footer ul li {
    list-style: none;
    margin-top: 10px;
}
footer .nav{
    padding-left: 100px;
}
.selectnav{
    padding-left: 0rem;
}
footer ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
footer ul li a i{
    padding-right: 5px;
}
.insta:hover{
    color:  rgba(255, 0, 43, 0.582);
}
.gmail:hover{
    color: rgba(0, 151, 76, 0.616);
}
.imgapp{
    width: 120px;
    height: 35px;
}
.ft221{
    display: inlinex;
}
.ft22{
    display: inlinex;
}
footer .col-6{
    width: 50%;
}
.final-ft{
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
}









/* post page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
.h1vn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
/* ----------------author -------------- */
.author{
    text-align: center;
    margin-bottom: 5rem;
}

.author .author-desc{
    width: 100%;
    font-size: 1rem;
    position: sticky;
    top: 7rem;
    left: 0;
    right: 0;
}

.author-infor{
    margin-top: 1rem;
}

.author-infor a{
    margin-top: 2rem;   
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: .3s;
}

.author-infor a:hover{
    color: darkblue;
}

.img-container{
    width: 80%;
    margin: 0 auto;
}

.img-container img{
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);

}

.post-infor{
    border-top: 1px solid #999b9c;
    padding-top: 1rem;
}


/* ----------------- content ------------------ */
.lead {
    font-size: 1.171875rem;
    font-weight: 400;
  }
.main-content .text{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}


/* -------- side-bar -----------*/

        /* ---- share ------*/
.side-bar{
    font-size: 1.5rem;
}

.side-bar p{
    font-weight: 600;
    margin-top: 4rem;
}

.side-bar .icon-container{
    display: flex;
    justify-content: space-evenly;
}

.icon-container a{
    color: black;
    font-size: 1.5rem;
}

.icon-container a:hover{
    opacity: .5;
}

        /* ----- catergory ----*/
.catergory ul{
    list-style: none;
    display: block;
}

.catergory ul li{
    margin-top: 1.5rem;
    width: 70%;
    border-radius: .5rem;
    padding: 0.4rem 0.8rem;
    background-color: rgb(92, 92, 240);
    font-size: 1rem;
    transition: .2s;
    opacity: 1;

}

.catergory ul li:nth-child(2){
    background-color: #ff7b25;
}

.catergory ul li:nth-child(3){
    background-color: #c94c4c;
}

.catergory ul li:nth-child(4){
    background-color: #b9936c;
}

.catergory ul li:nth-child(5){
    background-color: #d64161;
}

.catergory ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    margin-left: 1rem;
    font-weight: bold;
}

.catergory ul li:hover{
    opacity: 0.8;
}


        /*------- ads -------*/
.ads{
    margin-top: 2rem;
    border-radius: 1rem;
    width: 100%;
    height: 40vh;
    display: flex;
    cursor: pointer;
    background-color: #999b9c;
    justify-content: center;
    align-items: center;
}

        /* ---------- sticky ----------*/
.side-bar-sticky{
    position: sticky;
    top: 7rem;
    left: 0;
    right: 0;
} 



/*------------- comment --------------*/
.comment-container{
    margin-top: 5rem;
    border-top: 2px solid #999b9c;
    width: 100%;
}

.comment-container h2{
    margin-top: 1rem;
}

.comment{
    margin-top: 2rem;
    width: 100%;
}

.comment .comment-img{
    width: 10%;
}

.comment .comment-img img{
    width: 100%;
    border-radius: 100%;
}

.comment-text-header .reply{
    font-weight: bold;
    margin-left: 2rem;
    text-decoration: none;
    color: #999b9c;
}

/* -------------- form ---------------- */
.form-container{
    margin-top: 3rem;
}

.row .form-css{
    width: 100%;
    padding: .8rem 1.6rem;
}

.row .form-respon{
    margin-top: 1.8rem;
}

.row .message{
    width: 100%;
}

.form-container .btn{
    margin-top: 1.6rem;
    margin-bottom: 5rem;
    border: black 1px solid;
    border-radius: 0.5 rem;
    padding: 0.8rem 1.6rem;
    background-color: black;
    font-size: 1rem;
    color: #fff;
}

.form-container .btn:hover{
    background-color: #fff;
    color: black;
}

        /* form validation */
.null,
.retype{
    color:red;
}

.hidden{
    display: none;
}

/* loi khi nhap form */
.error{
    color: #fff;
    border: 1px solid rgba(255, 0, 0, 0.7);
}

.form-placeholder-css::placeholder{
    color: white;
}

/* ---------- responsive -------------*/
@media screen and (max-width:992px){
    .post-infor{
        border: none;
    }
    
    .post-infor p{
        display: inline;
    }

    .img-container{
        width: 30%;
    }

    .icon-container a{
        color: black;
        font-size: 3.6rem;
    }

    .comment .comment-img{
        width: 10%;
    }
}

@media screen and(max-width: 768px){
    .author-infor{
        display: inline-flex;
    }

    .img-container{
        width: 20%;
    }

    .post-infor{
        border: none;
    }
    
    .post-infor p{
        display: inline;
    }

    .comment .comment-img{
        width: 20%;
    }
    
}

@media screen and (max-width:576px){
    .comment .comment-img{
        width: 20%;
    }

    .post-infor{
        border: none;
    }

    .img-container{
        width: 40%;
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}