
.fakeimg {
  height: 200px;
  background: #aaa;
}
.btn-link {
    font-weight: 500;
    color: #2163e8;
    text-decoration: none;
}
.nav-link {
    display: block;
    padding: 0.25rem 0.75rem;
    color: #595d69;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


.min-w-auto {
    min-width: auto !important;
}

.h-300 {
    height: 300px !important;
}

.h-400 {
    height: 400px !important;
}

.h-500 {
    height: 500px !important;
}

.h-540 {
    height: 540px !important;
}

.h-560 {
    height: 560px !important;
}

.h-600 {
    height: 600px !important;
}

.h-700 {
    height: 700px !important;
}

.h-100 {
    height: 100% !important;
}

.bg-white-soft {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.bg-primary-soft {
    background-color: rgba(33, 99, 232, 0.1) !important;
}

.bg-secondary-soft {
    background-color: rgba(89, 93, 105, 0.1) !important;
}

.bg-success-soft {
    background-color: rgba(12, 188, 135, 0.1) !important;
}

.bg-info-soft {
    background-color: rgba(79, 158, 248, 0.1) !important;
}

.bg-warning-soft {
    background-color: rgba(247, 195, 46, 0.15) !important;
}

.bg-danger-soft {
    background-color: rgba(214, 41, 62, 0.1) !important;
}

.bg-light-soft {
    background-color: rgba(247, 248, 249, 0.1) !important;
}

.bg-dark-soft {
    background-color: rgba(25, 26, 31, 0.1) !important;
}

.fill-primary {
    fill: #2163e8 !important;
}

.fill-secondary {
    fill: #595d69 !important;
}

.fill-success {
    fill: #0cbc87 !important;
}

.fill-info {
    fill: #4f9ef8 !important;
}

.fill-warning {
    fill: #f7c32e !important;
}

.fill-danger {
    fill: #d6293e !important;
}

.fill-light {
    fill: #f7f8f9 !important;
}

.fill-dark {
    fill: #191a1f !important;
}

.fill-white {
    fill: #fff !important;
}

.z-index-0 {
    z-index: 0 !important;
}

.z-index-9 {
    z-index: 9 !important;
}

.z-index-99 {
    z-index: 99 !important;
}

.z-index-n9 {
    z-index: -9 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 0.1 !important;
}

.opacity-2 {
    opacity: 0.2 !important;
}

.opacity-3 {
    opacity: 0.3 !important;
}

.opacity-4 {
    opacity: 0.4 !important;
}

.opacity-5 {
    opacity: 0.5 !important;
}

.opacity-6 {
    opacity: 0.6 !important;
}

.opacity-7 {
    opacity: 0.7 !important;
}

.opacity-8 {
    opacity: 0.8 !important;
}

.opacity-9 {
    opacity: 0.9 !important;
}

@media (min-width: 576px) {
    .h-sm-300 {
        height: 300px !important;
    }
    .h-sm-400 {
        height: 400px !important;
    }
    .h-sm-500 {
        height: 500px !important;
    }
    .h-sm-540 {
        height: 540px !important;
    }
    .h-sm-560 {
        height: 560px !important;
    }
    .h-sm-600 {
        height: 600px !important;
    }
    .h-sm-700 {
        height: 700px !important;
    }
    .h-sm-100 {
        height: 100% !important;
    }
}

@media (min-width: 768px) {
    .h-md-300 {
        height: 300px !important;
    }
    .h-md-400 {
        height: 400px !important;
    }
    .h-md-500 {
        height: 500px !important;
    }
    .h-md-540 {
        height: 540px !important;
    }
    .h-md-560 {
        height: 560px !important;
    }
    .h-md-600 {
        height: 600px !important;
    }
    .h-md-700 {
        height: 700px !important;
    }
    .h-md-100 {
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .h-lg-300 {
        height: 300px !important;
    }
    .h-lg-400 {
        height: 400px !important;
    }
    .h-lg-500 {
        height: 500px !important;
    }
    .h-lg-540 {
        height: 540px !important;
    }
    .h-lg-560 {
        height: 560px !important;
    }
    .h-lg-600 {
        height: 600px !important;
    }
    .h-lg-700 {
        height: 700px !important;
    }
    .h-lg-100 {
        height: 100% !important;
    }
}

@media (min-width: 1200px) {
    .h-xl-300 {
        height: 300px !important;
    }
    .h-xl-400 {
        height: 400px !important;
    }
    .h-xl-500 {
        height: 500px !important;
    }
    .h-xl-540 {
        height: 540px !important;
    }
    .h-xl-560 {
        height: 560px !important;
    }
    .h-xl-600 {
        height: 600px !important;
    }
    .h-xl-700 {
        height: 700px !important;
    }
    .h-xl-100 {
        height: 100% !important;
    }
}

@media (min-width: 1400px) {
    .h-xxl-300 {
        height: 300px !important;
    }
    .h-xxl-400 {
        height: 400px !important;
    }
    .h-xxl-500 {
        height: 500px !important;
    }
    .h-xxl-540 {
        height: 540px !important;
    }
    .h-xxl-560 {
        height: 560px !important;
    }
    .h-xxl-600 {
        height: 600px !important;
    }
    .h-xxl-700 {
        height: 700px !important;
    }
    .h-xxl-100 {
        height: 100% !important;
    }
}

.breadcrumb-item {
    font-size: 0.8125rem;
}

.breadcrumb-item a {
    color: #595d69;
}

.breadcrumb-item a:hover {
    color: #2163e8;
}

.breadcrumb.breadcrumb-dark .breadcrumb-item a {
    color: #dfe0e5;
}

.breadcrumb.breadcrumb-dark .breadcrumb-item a:hover {
    color: #2163e8;
}

.breadcrumb.breadcrumb-dark .breadcrumb-item.active {
    color: #d0d4d9;
}

.breadcrumb.breadcrumb-dots .breadcrumb-item+.breadcrumb-item::before {
    content: "•";
    font-size: 22px;
    line-height: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-link {
    padding-bottom: 0px;
    background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 6%;
    background-repeat: no-repeat;
    background-position: left 100%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-weight: inherit;
    padding: 0;
}

.btn-link:hover {
    background-size: 100% 6%;
}

.btn {
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    outline: 0;
    white-space: nowrap;
    margin-bottom: 6px;
}

.input-group .btn {
    margin-bottom: 0;
}

.btn-xs {
    padding: 0.4rem 0.6rem;
    font-size: 0.6rem;
    line-height: 1.2;
    border-radius: 0.25rem;
}

.btn-white {
    background: #fff;
    color: #191a1f;
}

.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover {
    background: #f0f1f3;
    color: #191a1f;
}

.btn-outline-white {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn-outline-white.active,
.btn-outline-white:active,
.btn-outline-white:focus,
.btn-outline-white:hover {
    color: #191a1f;
    background: #fff;
}

.btn-outline-light {
    background: transparent;
    border-color: #d0d4d9;
    color: #595d69;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-check:checked+.btn-outline-light {
    background: #d0d4d9;
    border-color: #d0d4d9;
    color: #191a1f;
}

.btn-round {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
}

.btn-round i {
    margin: 0;
}

.btn-round .fa-play {
    padding-left: 3px;
}

.btn-round.btn-lg,
.btn-group-lg>.btn-round.btn {
    height: 55px;
    width: 55px;
    line-height: 55px;
}

.btn-round.btn-sm,
.btn-group-sm>.btn-round.btn {
    height: 32px;
    width: 32px;
    line-height: 30px;
}

.btn-round.btn-sm i,
.btn-group-sm>.btn-round.btn i {
    font-size: 0.6rem;
}

/*rtl:raw:
.btn-round .fa-play{
  padding-left: 3px;
  padding-right: 0;
}
*/

.btn-primary-soft {
    color: #2163e8;
    background-color: rgba(33, 99, 232, 0.1);
}

.btn-primary-soft:hover {
    color: #fff;
    background-color: #2163e8;
}

.btn-secondary-soft {
    color: #595d69;
    background-color: rgba(89, 93, 105, 0.1);
}

.btn-secondary-soft:hover {
    color: #fff;
    background-color: #595d69;
}

.btn-success-soft {
    color: #0cbc87;
    background-color: rgba(12, 188, 135, 0.1);
}

.btn-success-soft:hover {
    color: #fff;
    background-color: #0cbc87;
}

.btn-info-soft {
    color: #4f9ef8;
    background-color: rgba(79, 158, 248, 0.1);
}

.btn-info-soft:hover {
    color: #fff;
    background-color: #4f9ef8;
}

.btn-warning-soft {
    color: #f7c32e;
    background-color: rgba(247, 195, 46, 0.1);
}

.btn-warning-soft:hover {
    color: #000;
    background-color: #f7c32e;
}

.btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
}

.btn-danger-soft:hover {
    color: #fff;
    background-color: #d6293e;
}

.btn-light-soft {
    color: #f7f8f9;
    background-color: rgba(247, 248, 249, 0.1);
}

.btn-light-soft:hover {
    color: #000;
    background-color: #f7f8f9;
}

.btn-dark-soft {
    color: #191a1f;
    background-color: rgba(25, 26, 31, 0.1);
}

.btn-dark-soft:hover {
    color: #fff;
    background-color: #191a1f;
}

.card,
.overflow-hidden {
    will-change: transform;
}

.card .card-element-hover {
    visibility: hidden;
    margin-top: 30px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}

.card:hover .card-element-hover {
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
}

.card.card-overlay-bottom {
    overflow: hidden;
}

.card.card-overlay-bottom:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 1;
}

.card .card-img-overlay {
    z-index: 2;
}

.card.card-overlay-top {
    overflow: hidden;
}

.card.card-overlay-top:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
    background-image: linear-gradient(0deg, transparent, black);
}

.card-img-scale .card-img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card-img-scale:hover .card-img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.card-bg-scale {
    z-index: 99;
}

.card-bg-scale::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-transition: all 1s !important;
    transition: all 1s !important;
    z-index: -2;
}

.card-bg-scale:hover::after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s !important;
    transition: all 1s !important;
}

.card-featured {
    position: absolute;
    z-index: 99;
    background: #2163e8;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    top: -8px;
    right: -48px;
    width: 120px;
    padding: 16px 0 3px 0;
}

.card-img-flash {
    position: relative;
    overflow: hidden;
}

.card-img-flash::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: 100%;
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.card-img-flash:hover::before {
    -webkit-animation: imgflash 1s;
    animation: imgflash 1s;
}

@-webkit-keyframes imgflash {
    100% {
        left: 125%;
    }
}

@keyframes imgflash {
    100% {
        left: 125%;
    }
}

.card-grid .card-grid-lg {
    height: 560px;
}

.card-grid .card-grid-sm {
    height: calc(280px - calc(var(--bs-gutter-y) / 2));
}

@media (max-width: 767.98px) {
    .card-grid .card-grid-lg {
        height: 400px;
    }
}

.card-fold {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.card-fold:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(-45deg, #fff 45%, #fff 45%, #d0d4d9 50%, #fff 70%);
    -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 0.7rem 0px 0px 0px;
}

.card:hover .card-fold:after,
.card:focus .card-fold:after,
.card:active .card-fold:after,
.card:hover.card-fold:after,
.card:focus.card-fold:after,
.card:active.card-fold:after {
    width: 40px;
    height: 40px;
}

.bg-dark .card-fold:after {
    --bs-bg-opacity: 1;
    background: linear-gradient(-45deg, rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) 45%, #000 45%, #d0d4d9 50%, #fff 70%);
}

.dropdown-menu {
    -webkit-box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.05), 0px 0px 30px rgba(83, 88, 93, 0.1);
    box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.05), 0px 0px 30px rgba(83, 88, 93, 0.1);
}

.dropdown-item {
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
}

.dropdown-item.active {
    color: #2163e8;
}

.dropdown-item.active:before {
    content: "";
    width: 7px;
    height: 7px;
    background: #2163e8;
    display: inline-block;
    border-radius: 50%;
    margin-left: -12px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.dropdown-toggle:after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-size: 0.5rem;
    margin-left: 0.35rem;
    font-weight: 900;
    vertical-align: middle;
    border: none;
}

.dropup .dropdown-toggle:after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-size: 0.5rem;
    margin-left: 0.35rem;
    font-weight: 900;
    vertical-align: middle;
    border: none;
}

.dropdown-menu .dropdown-toggle:after {
    position: absolute;
    right: 25px;
    top: 10px;
}

.dropdown-menu .dropdown-toggle:before {
    position: absolute;
    right: 25px;
    top: 10px;
}

.dropdown-fullwidth {
    position: static;
}

.dropdown-fullwidth .dropdown-menu {
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 1rem 0;
}

@media (min-width: 576px) {
    .dropdown-fullwidth .dropdown-menu {
        max-width: 96%;
    }
}

@media (min-width: 768px) {
    .dropdown-fullwidth .dropdown-menu {
        max-width: 94%;
    }
}

@media (min-width: 992px) {
    .dropdown-fullwidth .dropdown-menu {
        max-width: 94%;
    }
}

@media (min-width: 1200px) {
    .dropdown-fullwidth .dropdown-menu {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .dropdown-fullwidth .dropdown-menu {
        max-width: 1200px;
    }
}

@media (max-width: 1199.98px) {
    .dropdown-fullwidth .dropdown-menu .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        top: 120%;
        visibility: hidden;
        opacity: 0;
        display: block;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .navbar-expand-xl .navbar-nav .dropdown:hover>.dropdown-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-xl .navbar-nav .dropdown-submenu:hover>.dropdown-menu {
        top: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-xl .dropdown-submenu {
        position: relative;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 120%;
        visibility: hidden;
        opacity: 0;
        display: block;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .navbar-expand-lg .navbar-nav .dropdown:hover>.dropdown-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-lg .navbar-nav .dropdown-submenu:hover>.dropdown-menu {
        top: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-lg .dropdown-submenu {
        position: relative;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        top: 120%;
        visibility: hidden;
        opacity: 0;
        display: block;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .navbar-expand-md .navbar-nav .dropdown:hover>.dropdown-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-md .navbar-nav .dropdown-submenu:hover>.dropdown-menu {
        top: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-md .dropdown-submenu {
        position: relative;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        top: 120%;
        visibility: hidden;
        opacity: 0;
        display: block;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .navbar-expand-sm .navbar-nav .dropdown:hover>.dropdown-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-sm .navbar-nav .dropdown-submenu:hover>.dropdown-menu {
        top: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-expand-sm .dropdown-submenu {
        position: relative;
    }
}

.dropdown-menu-size-md {
    min-width: 20rem;
}

@media (max-width: 575.98px) {
    .dropdown-menu-size-md {
        min-width: 100%;
    }
}

.dropdown-toggle-icon-none .dropdown-toggle:after {
    content: none;
}

.list-group .list-group-item i,
.list-group .list-group-item span {
    margin-right: 5px;
}

.list-group-borderless .list-group-item {
    border: none;
    padding: 0.425rem 0;
}

.list-group-borderless a.list-group-item:hover {
    background-color: transparent;
    color: #2163e8;
}

.nav-pills .nav-link {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 0.5rem 1rem;
}

.nav.flex-column:not(.nav-pills) .nav-link {
    padding-left: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.tab-content {
    padding: 25px 0;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    padding: 0.5rem 1rem;
    border: none;
}

.nav-tabs .nav-link.active {
    background: #2163e8;
    color: #fff;
    border: none;
}

.nav-tabs .nav-link.active .nav-link {
    color: #fff;
}

.nav-tabs.nav-tabs-line {
    border-bottom: solid 3px rgba(0, 0, 0, 0.1);
}

.nav-tabs.nav-tabs-line .nav-link {
    border: transparent;
}

.nav-tabs.nav-tabs-line .nav-item:first-child .nav-link {
    padding-left: 0;
}

.nav-tabs.nav-tabs-line .nav-link {
    background: transparent;
    border-bottom: 3px solid transparent;
}

.nav-tabs.nav-tabs-line .nav-link.active {
    background: transparent;
    color: #2163e8;
    border-bottom: 3px solid #2163e8;
}

.nav-tabs.nav-tabs-line .nav-item {
    margin-bottom: -2px;
}

.nav-tabs.nav-tabs-dark .nav-item .nav-link {
    color: #191a1f;
}

.nav-tabs.nav-tabs-dark .nav-link.active {
    background: #191a1f;
    color: #fff;
}

.nav.nav-divider a:not(.dropdown-item) {
    color: inherit;
}

.nav.nav-divider .nav-item+.nav-item:before {
    content: "•";
    color: inherit;
    padding-left: 0.65rem;
    padding-right: 0.75rem;
    opacity: 0.8;
}

.nav.nav-divider .nav-item {
    display: inline-block;
    vertical-align: middle;
}

.nav.nav-divider .nav-link {
    padding: 0;
    color: inherit;
}

.navbar-nav .nav-link {
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

.offcanvas .navbar-nav .nav-link {
    line-height: inherit;
    padding: 0.25rem 0.75rem;
}

.navbar-toggler {
    margin-bottom: 0;
    border: 0;
}

header .navbar-nav .show>.nav-link,
header .navbar-nav .nav-link.active {
    color: #2163e8;
}

header .navbar-nav .show>.nav-link:before,
header .navbar-nav .nav-link.active:before {
    content: "";
    width: 7px;
    height: 7px;
    background: #2163e8;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.2rem;
    margin-bottom: 1px;
}

.navbar-sticky-on {
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
    width: 100%;
    -webkit-box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.2);
    box-shadow: 0px 0px 40px rgba(83, 88, 93, 0.2);
}

.navbar-sticky-on .navbar-top {
    display: none !important;
}

.navbar-sticky-on .navbar-nav .nav-link {
    line-height: 50px;
}

.navbar-sticky-on .navbar-brand {
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar-sticky-on .navbar-brand .navbar-brand-item {
    height: 22px;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.navbar-lh-sm.navbar-nav .nav-link {
    line-height: 60px;
}

.navbar-transparent {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-dark .navbar-top span:not(.dropdown-item-text) {
    color: #fff;
}

.navbar-dark .navbar-top a:not(.dropdown-item) {
    color: #fff;
}

.navbar-dark .navbar-top a:not(.dropdown-item):hover {
    color: #2163e8;
}

.navbar-dark .nav .nav-link {
    color: #fff;
}

.navbar-dark .nav .nav-link:hover {
    color: #2163e8;
}

.navbar-dark.navbar-sticky-on {
    background-color: #191a1f;
}

.navbar-brand {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-brand .navbar-brand-item {
    height: 30px;
    display: block;
    width: auto;
}

@media (max-width: 767.98px) {
    .navbar-brand {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-brand .navbar-brand-item {
        height: 22px;
    }
}

.navbar .container-fluid .dropdown-fullwidth .dropdown-menu,
.navbar .container-sm .dropdown-fullwidth .dropdown-menu,
.navbar .container-md .dropdown-fullwidth .dropdown-menu,
.navbar .container-lg .dropdown-fullwidth .dropdown-menu,
.navbar .container-xl .dropdown-fullwidth .dropdown-menu,
.navbar .container-xxl .dropdown-fullwidth .dropdown-menu {
    width: 100%;
}

.navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-toggle:after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none !important;
    margin: 0;
}

@media (hover: hover) {
    .navbar .dropdown-menu .dropdown-submenu.dropend:hover>.dropdown-toggle:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-opened.dropdown-toggle:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar .dropdown-menu .dropdown-submenu.dropstart .dropdown-toggle:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none !important;
    margin: 0;
    font-weight: 900;
}

.navbar .dropdown-menu .dropdown-submenu.dropstart:hover>.dropdown-toggle:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl .navbar-collapse {
        -webkit-box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav .dropdown-toggle::after {
        position: absolute;
        right: 25px;
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav .dropdown-menu:before {
        content: none;
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav .dropdown-submenu .dropdown-menu {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav>.nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 30px;
        position: relative;
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav>.nav-item .nav-link {
        line-height: 40px;
    }
    .navbar-dark .navbar-expand-xl .navbar-collapse .nav-link {
        color: #595d69;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-expand-xl .dropdown-fullwidth {
        width: 100%;
    }
    .navbar-expand-xl .dropdown-fullwidth .dropdown-menu {
        max-width: 100%;
    }
    .navbar-expand-xl .dropdown-fullwidth .container {
        max-width: 100%;
        padding: 0;
    }
    .navbar-expand-xl .navbar-nav .nav-item>.dropdown-menu {
        background: rgba(89, 93, 105, 0.04);
        padding: 20px 0px;
        margin: 10px 0;
    }
    .navbar-expand-xl .navbar-nav .nav-item>.dropdown-menu .dropdown-submenu .dropdown-menu {
        background: rgba(89, 93, 105, 0.06);
        padding: 10px 0px !important;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse {
        -webkit-box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-toggle::after {
        position: absolute;
        right: 25px;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu:before {
        content: none;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-submenu .dropdown-menu {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav>.nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 30px;
        position: relative;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav>.nav-item .nav-link {
        line-height: 40px;
    }
    .navbar-dark .navbar-expand-lg .navbar-collapse .nav-link {
        color: #595d69;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-expand-lg .dropdown-fullwidth {
        width: 100%;
    }
    .navbar-expand-lg .dropdown-fullwidth .dropdown-menu {
        max-width: 100%;
    }
    .navbar-expand-lg .dropdown-fullwidth .container {
        max-width: 100%;
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-item>.dropdown-menu {
        background: rgba(89, 93, 105, 0.04);
        padding: 20px 0px;
        margin: 10px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-item>.dropdown-menu .dropdown-submenu .dropdown-menu {
        background: rgba(89, 93, 105, 0.06);
        padding: 10px 0px !important;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md .navbar-collapse {
        -webkit-box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-md .navbar-collapse .navbar-nav .dropdown-toggle::after {
        position: absolute;
        right: 25px;
    }
    .navbar-expand-md .navbar-collapse .navbar-nav .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-expand-md .navbar-collapse .navbar-nav .dropdown-menu:before {
        content: none;
    }
    .navbar-expand-md .navbar-collapse .navbar-nav .dropdown-submenu .dropdown-menu {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .navbar-expand-md .navbar-collapse .navbar-nav>.nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 30px;
        position: relative;
    }
    .navbar-expand-md .navbar-collapse .navbar-nav>.nav-item .nav-link {
        line-height: 40px;
    }
    .navbar-dark .navbar-expand-md .navbar-collapse .nav-link {
        color: #595d69;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-expand-md .dropdown-fullwidth {
        width: 100%;
    }
    .navbar-expand-md .dropdown-fullwidth .dropdown-menu {
        max-width: 100%;
    }
    .navbar-expand-md .dropdown-fullwidth .container {
        max-width: 100%;
        padding: 0;
    }
    .navbar-expand-md .navbar-nav .nav-item>.dropdown-menu {
        background: rgba(89, 93, 105, 0.04);
        padding: 20px 0px;
        margin: 10px 0;
    }
    .navbar-expand-md .navbar-nav .nav-item>.dropdown-menu .dropdown-submenu .dropdown-menu {
        background: rgba(89, 93, 105, 0.06);
        padding: 10px 0px !important;
    }
}

@media (max-width: 575.98px) {
    .navbar-expand-sm .navbar-collapse {
        -webkit-box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        box-shadow: 0px 10px 30px rgba(83, 88, 93, 0.2);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav .dropdown-toggle::after {
        position: absolute;
        right: 25px;
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav .dropdown-menu:before {
        content: none;
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav .dropdown-submenu .dropdown-menu {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav>.nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 30px;
        position: relative;
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav>.nav-item .nav-link {
        line-height: 40px;
    }
    .navbar-dark .navbar-expand-sm .navbar-collapse .nav-link {
        color: #595d69;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    .navbar-expand-sm .dropdown-fullwidth {
        width: 100%;
    }
    .navbar-expand-sm .dropdown-fullwidth .dropdown-menu {
        max-width: 100%;
    }
    .navbar-expand-sm .dropdown-fullwidth .container {
        max-width: 100%;
        padding: 0;
    }
    .navbar-expand-sm .navbar-nav .nav-item>.dropdown-menu {
        background: rgba(89, 93, 105, 0.04);
        padding: 20px 0px;
        margin: 10px 0;
    }
    .navbar-expand-sm .navbar-nav .nav-item>.dropdown-menu .dropdown-submenu .dropdown-menu {
        background: rgba(89, 93, 105, 0.06);
        padding: 10px 0px !important;
    }
}

.pagination .page-item {
    margin-bottom: 5px;
    float: left;
}

.pagination-bordered {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px;
    border-radius: 0.25rem;
}

.pagination-bordered .page-item {
    margin: 2px;
}

.pagination-bordered .page-link {
    border: transparent;
    border-radius: 0.25rem;
}

.progress {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
}

.progress .progress-bar {
    position: relative;
    overflow: visible;
    border-radius: 0.25rem;
}

.progress .progress-percent {
    color: #595d69;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: -24px;
    font-size: 12px;
}

.progress.progress-percent-bg .progress-percent {
    background: #595d69;
    padding: 2px 5px;
    border-radius: 2px;
    color: #fff;
    line-height: 16px;
    position: absolute;
    right: 0;
    top: -25px;
    font-size: 10px;
}

.progress.progress-percent-bg .progress-percent:before {
    border-top-color: #595d69;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
}

.progress.progress-percent-bg .progress-percent:after,
.progress.progress-percent-bg .progress-percent:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.progress.progress-percent-bg .progress-percent:after {
    border-top-color: #595d69;
    border-width: 4px;
    left: 50%;
    margin-left: -4px;
}

.progress.progress-xs {
    height: 3px;
}

.progress.progress-sm {
    height: 5px;
}

.progress.progress-md {
    height: 10px;
}

.progress.progress-lg {
    height: 16px;
}

.progress.progress-xl {
    height: 20px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

main {
    background-color: #fff;
}

header {
    position: relative;
    z-index: 1020;
    background: #fff;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

*:focus {
    outline: none !important;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a,
.h1>a,
.h2>a,
.h3>a,
.h4>a,
.h5>a,
.h6>a {
    color: #191a1f;
}

h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover,
.h1>a:hover,
.h2>a:hover,
.h3>a:hover,
.h4>a:hover,
.h5>a:hover,
.h6>a:hover {
    color: #2163e8;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

section {
    padding-top: 3.5rem;
    padding-bottom: 2.8rem;
}

@media (max-width: 767.98px) {
    section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}

.text-white-force *:not(.btn):not(.dropdown-item):not(.dropdown-item>*):not(.badge) {
    color: #fff;
}

small,
.small {
    font-weight: 400;
}

.smaller {
    font-size: 60%;
    font-weight: 500;
}

.dropcap {
    font-size: 4em;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0.04em 0.2em 0 0;
    color: #191a1f;
    line-height: 1;
}

.bg-blur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.bg-facebook {
    background-color: #5d82d1;
    color: #fff;
}

.bg-facebook:hover {
    background-color: #5475bc;
    color: #fff;
}

.text-facebook {
    color: #5d82d1;
}

.text-facebook:hover {
    color: #5475bc;
}

.bg-instagram {
    background: #c22b72;
    color: #fff;
}

.bg-instagram:hover {
    background-color: #af2767;
    color: #fff;
}

.text-instagram {
    color: #c22b72;
}

.text-instagram:hover {
    color: #af2767;
}

.bg-instagram-gradient {
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    background-size: 120% 120%;
    background-position: right bottom;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
}

.bg-instagram-gradient:hover {
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position: left bottom;
}

.text-instagram-gradient {
    color: transparent;
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 120% 120%;
}

.text-instagram-gradient:hover {
    color: transparent;
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bg-google {
    background-color: #3c7ff1;
    color: #fff;
}

.bg-google:hover {
    background-color: #3672d9;
    color: #fff;
}

.text-google {
    color: #3c7ff1;
}

.text-google:hover {
    color: #3672d9;
}

.bg-twitter {
    background-color: #40bff5;
    color: #fff;
}

.bg-twitter:hover {
    background-color: #3aacdd;
    color: #fff;
}

.text-twitter {
    color: #40bff5;
}

.text-twitter:hover {
    color: #3aacdd;
}

.bg-linkedin {
    background-color: #238cc8;
    color: #fff;
}

.bg-linkedin:hover {
    background-color: #207eb4;
    color: #fff;
}

.text-linkedin {
    color: #238cc8;
}

.text-linkedin:hover {
    color: #207eb4;
}

.bg-pinterest {
    background-color: #e60023;
    color: #fff;
}

.bg-pinterest:hover {
    background-color: #cf0020;
    color: #fff;
}

.text-pinterest {
    color: #e60023;
}

.text-pinterest:hover {
    color: #cf0020;
}

.bg-dribbble {
    background-color: #f7659c;
    color: #fff;
}

.bg-dribbble:hover {
    background-color: #de5b8c;
    color: #fff;
}

.text-dribbble {
    color: #f7659c;
}

.text-dribbble:hover {
    color: #de5b8c;
}

.bg-youtube {
    background-color: #ff0000;
    color: #fff;
}

.bg-youtube:hover {
    background-color: #e60000;
    color: #fff;
}

.text-youtube {
    color: #ff0000;
}

.text-youtube:hover {
    color: #e60000;
}

.bg-skype {
    background-color: #13c1f3;
    color: #fff;
}

.bg-skype:hover {
    background-color: #11aedb;
    color: #fff;
}

.text-skype {
    color: #13c1f3;
}

.text-skype:hover {
    color: #11aedb;
}

.blockquote {
    position: relative;
    padding-left: 80px;
}

.blockquote:before {
    content: '"';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8rem;
    line-height: 0.8em;
    font-weight: 700;
    color: #2163e8;
}

.blockquote-footer {
    margin-top: 12px;
    padding-left: 80px;
}

.blockquote.blockquote-primary {
    background: #2163e8;
    color: #fff;
    padding: 20px 20px 20px 90px;
    border-radius: 0.25rem;
}

.blockquote.blockquote-primary * {
    color: #fff;
}

.blockquote.blockquote-primary:before {
    color: #fff !important;
    top: 20px;
    left: 20px;
}

.blockquote.blockquote-dark {
    background: #191a1f;
    color: #fff;
    padding: 20px 20px 20px 90px;
    border-radius: 0.25rem;
}

.blockquote.blockquote-dark * {
    color: #fff;
}

.blockquote.blockquote-dark:before {
    top: 20px;
    left: 20px;
}

.blockquote.blockquote-light {
    background: #f0f1f3;
    color: #29292e;
    padding: 20px 20px 20px 90px;
    border-radius: 0.25rem;
}

.blockquote.blockquote-light * {
    color: #29292e;
}

.blockquote.blockquote-light:before {
    top: 20px;
    left: 20px;
}

.blockquote.blockquote-line {
    padding: 10px 20px;
    border-left: 5px solid #2163e8;
}

.blockquote.blockquote-line:before {
    display: none;
}

.blockquote.blockquote-icon-bg {
    padding: 0;
}

.blockquote.blockquote-icon-bg:before {
    font-size: 18rem;
    color: #191a1f;
    opacity: 0.3;
    z-index: -1;
}

.blockquote.blockquote-icon-bg .blockquote-footer {
    padding: 0;
}

a.badge:hover {
    color: #fff;
}

.plyr__control--overlaid,
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: #2163e8;
}

.plyr--full-ui input[type=range] {
    color: #2163e8;
}

/* rtl:raw:
.glightbox-clean .gclose, .glightbox-modern .gclose{
  right: auto !important;
  left: 20px;
}
*/

.nav-search .dropdown-menu {
    top: 120%;
    visibility: hidden;
    opacity: 0;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 300px;
    left: auto;
    right: 0;
}

.nav-search .dropdown-menu.show {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 575.98px) {
    .nav-search .dropdown-menu {
        width: 100%;
    }
}

.back-top {
    cursor: pointer;
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    display: block;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgba(33, 99, 232, 0.2);
    color: #2163e8;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}

.back-top i {
    font-size: 1.6rem;
    vertical-align: middle;
}

.back-top:hover {
    background: #2163e8;
    color: #fff;
}

.back-top.back-top-show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

@media (max-width: 767.98px) {
    .back-top {
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .back-top i {
        font-size: 1rem;
    }
}

.sticky-post {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sticky-post.sticky-post-sticked {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/* rtl:raw:
  .rtl-flip {
    transform: scaleX(-1);
  }
  .rtl-flip.bi:before{
    transform: inherit;
  }
*/

.bg-parallax {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bg-parallax:before {
    z-index: 0;
}

@media (min-width: 768px) {
    footer.footer-sticky {
        position: fixed !important;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1 !important;
    }
}

.preloader {
    background-color: #fff;
    position: fixed;
    z-index: 1190;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.preloader .preloader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dark-mode-item {
    display: none !important;
}

html[data-theme=dark] .dark-mode-item {
    display: block !important;
}

html[data-theme=dark] .light-mode-item {
    display: none !important;
}

.dark-mode-switch {
    margin: 0;
}

.dark-mode-switch.form-check {
    min-height: auto;
}

.dark-mode-switch .form-check-input,
.dark-mode-switch .form-check-label {
    cursor: pointer !important;
}

.modeswitch {
    width: 42px;
    height: 12px;
    background: #595d69;
    border-radius: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 16px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.modeswitch:hover {
    cursor: pointer;
}

.modeswitch .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateX(-14%);
    transform: translateX(-14%);
    height: 26px;
    width: 26px;
    background: #d8831b;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.modeswitch .switch:before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    display: block;
}

html[data-theme=dark] .modeswitch {
    background: #d0d4d9;
}

html[data-theme=dark] .modeswitch .switch {
    -webkit-transform: translateX(18px) rotate(1turn);
    transform: translateX(18px) rotate(1turn);
    background: #191a1f;
}

html[data-theme=dark] .modeswitch .switch:before {
    content: "";
}

.navbar-dark .modeswitch {
    background: #a1a1a8;
}

html.font-lg {
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1400px) {
    html.font-lg .container {
        max-width: 1300px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

html.font-sm {
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar-group {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.avatar-group>li {
    position: relative;
}

.avatar-group>li:not(:last-child) {
    margin-right: -0.8rem;
}

.avatar-group .avatar-img {
    border: 2px solid #fff;
}

.avatar .avatar-name {
    margin-left: 7px;
}

.avatar-xs {
    height: 2.1875rem;
    width: 2.1875rem;
}

.avatar-sm {
    height: 2.5rem;
    width: 2.5rem;
}

.avatar-lg {
    height: 4rem;
    width: 4rem;
}

.avatar-xl {
    height: 5.125rem;
    width: 5.125rem;
}

.avatar-xxl {
    height: 5.125rem;
    width: 5.125rem;
}

@media (min-width: 768px) {
    .avatar-xxl {
        width: 8rem;
        height: 8rem;
    }
}

.avatar-xxxl {
    height: 8rem;
    width: 8rem;
}

@media (min-width: 768px) {
    .avatar-xxxl {
        width: 11rem;
        height: 11rem;
    }
}

.divider {
    height: 1px;
    background: #000;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.divider-light {
    height: 1px;
    background: #fff;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.bg-dark-overlay-2 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-2:before {
    content: " ";
    background: #000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-3 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-3:before {
    content: " ";
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-4 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-4:before {
    content: " ";
    background: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-5 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-5:before {
    content: " ";
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-6 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-6:before {
    content: " ";
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-7 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-7:before {
    content: " ";
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-8 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-8:before {
    content: " ";
    background: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-dark-overlay-9 {
    position: relative;
    z-index: 99;
}

.bg-dark-overlay-9:before {
    content: " ";
    background: #000;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tns-outer {
    position: relative;
}

.tns-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tiny-slider .item {
    position: relative;
}

.tns-controls [data-controls] {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 0.25rem;
    display: block;
    z-index: 9;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: none;
    padding: 0;
    margin: 0 10px;
}

.tns-controls [data-controls]:hover {
    background-color: #2163e8;
    color: #fff;
}

.tns-controls [data-controls] i {
    line-height: inherit;
}

.tns-controls [data-controls=prev] {
    left: 0;
}

.tns-controls [data-controls=next] {
    right: 0;
}

/* rtl:raw:
.tiny-slider .tns-controls [data-controls]{
  transform: scaleX(-1) translateY(-50%);
}
.tns-visually-hidden {
  right: -10000em !important;
  left: 0 !important;
}
*/

.arrow-dark [data-controls] {
    background: #191a1f;
    color: #fff;
}

.arrow-white [data-controls] {
    background-color: #fff;
    color: #595d69;
}

.arrow-gray [data-controls] {
    background: #dfe0e5;
    color: #191a1f;
}

.arrow-round [data-controls] {
    border-radius: 50%;
}

.arrow-bordered [data-controls] {
    background: transparent !important;
    color: #d0d4d9;
    border: 2px solid #d0d4d9;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.arrow-bordered [data-controls]:hover {
    border-color: #595d69;
    background: transparent;
    color: #595d69;
}

.arrow-blur [data-controls] {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4) !important;
}

.arrow-blur [data-controls]:hover {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0.4) !important;
}

.arrow-blur.arrow-white [data-controls] {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff;
}

.arrow-only [data-controls] {
    background: transparent;
}

.arrow-only [data-controls]:hover {
    background: transparent;
    color: #191a1f;
}

.arrow-hover {
    overflow: hidden;
}

.arrow-hover [data-controls=prev] {
    left: -60px;
}

.arrow-hover [data-controls=next] {
    right: -60px;
}

.arrow-hover:hover [data-controls=prev] {
    left: 0px;
}

.arrow-hover:hover [data-controls=next] {
    right: 0px;
}

.arrow-end .tns-controls [data-controls] {
    bottom: 10px;
}

.arrow-end [data-controls=prev] {
    right: 30px;
    left: auto;
}

.arrow-end [data-controls=next] {
    right: 0;
}

.arrow-xs .tns-controls [data-controls] {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    margin: 0;
}

@media (max-width: 767.98px) {
    .arrow-md-none [data-controls] {
        display: none;
    }
}

.tns-nav {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.tns-nav [data-nav] {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    padding: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 2px #a1a1a8;
    box-shadow: inset 0 0 0 2px #a1a1a8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
}

.tns-nav [data-nav]:after {
    border-radius: 50%;
    overflow: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #a1a1a8;
    -webkit-box-shadow: 0 0 1px #a1a1a8;
    box-shadow: 0 0 1px #a1a1a8;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.tns-nav .tns-nav-active:after {
    height: 100%;
}

.dots-inside .tns-nav {
    top: auto;
    padding-bottom: 20px;
}

.dots-primary .tns-nav [data-nav] {
    -webkit-box-shadow: inset 0 0 0 2px #2163e8;
    box-shadow: inset 0 0 0 2px #2163e8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dots-primary .tns-nav [data-nav]:after {
    background-color: #2163e8;
    -webkit-box-shadow: 0 0 1px #2163e8;
    box-shadow: 0 0 1px #2163e8;
}

.dots-white .tns-nav [data-nav] {
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dots-white .tns-nav [data-nav]:after {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
}

.dots-dark .tns-nav [data-nav] {
    -webkit-box-shadow: inset 0 0 0 2px #191a1f;
    box-shadow: inset 0 0 0 2px #191a1f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dots-dark .tns-nav [data-nav]:after {
    background-color: #191a1f;
    -webkit-box-shadow: 0 0 1px #191a1f;
    box-shadow: 0 0 1px #191a1f;
}

.dots-creative .tns-nav [data-nav] {
    background: #dfe0e5;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dots-creative .tns-nav [data-nav]:after {
    content: none;
}

.dots-creative .tns-nav .tns-nav-active {
    background: #2163e8;
    width: 24px;
}

.custom-thumb [data-nav] {
    cursor: pointer;
    opacity: 0.6;
}

.custom-thumb [data-nav] * {
    color: #fff !important;
}

.custom-thumb .tns-nav-active[data-nav] {
    opacity: 1;
}

.text-primary-hover a {
    color: #d0d4d9;
}

.text-primary-hover a:hover {
    color: #2163e8 !important;
}

a.text-primary-hover,
button.text-primary-hover {
    color: #d0d4d9;
}

a.text-primary-hover:hover,
button.text-primary-hover:hover {
    color: #2163e8 !important;
}

.text-primary-hover li {
    color: #d0d4d9;
}

.text-primary-hover li:hover {
    color: #2163e8 !important;
}

.font-base {
    font-family: "Rubik", sans-serif !important;
}

.font-heading {
    font-family: "Nunito Sans", sans-serif !important;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.zoom-hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.zoom-hover:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.up-hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.up-hover:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.icon-sm {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 75%;
}

.icon-md {
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    font-size: 0.8rem;
}

.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.icon-xl {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.9rem;
}

@media (min-width: 992px) {
    .oversized-block {
        width: calc(100% + 140px - 20px + 140px - 20px);
        margin-left: calc(-140px + 20px);
    }
}

/*User CSS*/

/*# sourceMappingURL=style.css.map */
